@keyframes borderColorPulse {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: red;
  }
}
.home_header{
    font-family: 'Press Start 2P', monospace;
    font-size: 32px;  
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_container{
    width: 70%;
    border: 15px solid red;
    border-radius: 10px;
    margin: 0 auto;
    animation: borderColorPulse 2s infinite;
}
.home_intro{
    color: red;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
}
.game-button {
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  color: red;
  background-color: #000;
  border: 3px solid red;
  padding: 12px 24px;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 0 5px red;
  box-shadow: 0 0 10px red;
  transition: all 0.2s ease;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.game-button:hover {
  background-color: transparent;
  color: #000;
  box-shadow: 0 0 20px red;
}

